.about__happy {
    background-color: var(--bg-color);
}
.about__happy-container {
    padding-bottom: 152px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        display: block;
        background-image: url('../icon/logo.svg');
        background-repeat: no-repeat;
        width: 146px;
        height: 146px;
        bottom: -45px;
        left: 0px;
        animation: rotation 10s linear infinite;
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        background-image: url('../icon/logo.svg');
        background-repeat: no-repeat;
        width: 146px;
        height: 146px;
        top: 0px;
        right: 0px;
        animation: rotation 10s linear infinite;
    }
}
.about__happy-lable {
    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
}
.about__happy-title {
    margin-bottom: 32px;
    text-align: center;

    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
}
.about__happy-text {
    max-width: 824px;
    margin: 0 auto;
    margin-bottom: 96px;
    text-align: center;

    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
}
.about__happy-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 1300px;
    height: 763px;
}
.about__happy-video-img {
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__happy-video-play {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.about__happy-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width: 1199.98px){
    .about__happy-container {
        padding-bottom: 90px;
    }
}
@media screen and (max-width: 991.98px){
    .about__happy-container {
        padding-bottom: 60px;
    }
    .about__happy-title {
        margin-bottom: 20px;
    }
    .about__happy-text {
        margin-bottom: 20px;
    }
    .about__happy-wrapper {
        height: 500px;
    }
}
@media screen and (max-width: 767.98px){
    .about__happy-container {
        padding-bottom: 20px;
        &::after {
            display: none;
        }
        &::before {
            display: none;
        }
    }
}
@media screen and (max-width: 479.98px){
    .about__happy-wrapper {
        display: none;
    }
}
.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}