.about__hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/hero/hero-about.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.about__hero-container {
    padding-top: 254px;
    padding-bottom: 254px;
}
.about__hero-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__hero-title {
    margin-bottom: 24px;
    text-align: center;

    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 1s;
}
.about__hero-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 1s;
}
.about__hero-item {
    display: flex;
    align-items: center;
}
.about__hero-link {
    font-family: "Cormorant Upright";
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3; /* 29.9px */
    letter-spacing: 0.92px;
    text-transform: capitalize;
    color: var(--white-color);
    text-align: center;
}
.about__icon-arrow {
    margin-left: 8px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}
@media screen and (max-width: 767.98px){
    .about__hero-container {
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.active {
    transform: translate(0px, 0px);
    opacity: 1;
}