.bar__contact {
    background-image: url("../img/about/bg-img.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
.bar__contact-container {
    position: relative;
    padding-top: 128px;
    padding-bottom: 128px;
    &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url('../icon/logo.svg');
        background-repeat: no-repeat;
        width: 146px;
        height: 146px;
        top: -125px;
        left: 0px;
        animation: rotation 10s linear infinite;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url('../icon/logo.svg');
        background-repeat: no-repeat;
        width: 146px;
        height: 146px;
        bottom: -137px;
        right: 88px;
        animation: rotation 10s linear infinite;
    }
}
.bar__contact-body {
    display: flex;
    justify-content: center;
}
.bar__contact-contant {
    margin-right: 120px;
    align-self: center;
}
.bar__contact-lable {
    display: flex;

    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
}
.bar-lable {
   align-items: flex-start;
}
.bar__contact-title {
    margin-bottom: 64px;

    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
}
.bar__contact-link-street {
    display: block;
    color: var(--general-color);
  
    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
    &:hover {
        color: var(--gold-color);
    }
}
.bar__contact-subtitle {
    margin-top: 32px;
    margin-bottom: 16px;
    font-family: "Cormorant Upright";
    font-size: 23px;
    font-weight: 700;
    line-height: 1.3; /* 29.9px */
    letter-spacing: 0.92px;
    text-transform: capitalize;
    color: var(--gold-color);

    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
}
.bar__contact-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 64px;
}
.bar__contact-text {
    color: var(--white-color);

    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
}
.bar__contact-wrapper-img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
        content: "";
        display: block;
        position: absolute;
        z-index: 5;
        bottom: -20px;
        left: -20px;
        width: 435px;
        height: 435px;
        background-color: var(--gold-color);
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 5;
        top: -20px;
        right: -20px;
        width: 435px;
        height: 435px;
        background-color: var(--gold-color);
    }
}
.bar__contact-img {
    z-index: 10;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bar__contact-link {
    opacity: 0;
    transform: translate(0px, 120%);
    transition: all 2.5s ease 0.5s;
}
@media screen and (max-width: 991.98px){
    .bar__contact-container {
        padding-top: 60px;
        padding-bottom: 60px;
        &::after {
           z-index: 20;
        }
    }
    .bar__contact-contant {
        margin-right: 40px;
    }
    .bar__contact-wrapper-img {
        &::after{
            display: none;
        }
        &::before {
            display: none;
        }
    }
}
@media screen and (max-width: 767.98px){
    .bar__contact-container {
        padding-top: 20px;
        padding-bottom: 20px;
        &::before {
            display: none;
        }
        &::after {
            display: none;
        }
    }
    .bar__contact-body {
       flex-direction: column;
    }
    .bar__contact-contant {
        margin-right: 0px;
        margin-bottom: 20px;
        align-self: flex-start;
    }
    .bar__contact-title{
        margin-bottom: 20px;
    }
    .bar__contact-subtitle {
        margin-top: 20px;
    }
    .bar__contact-list {
        margin-bottom: 20px;
    }
}

.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}