.burger__menu {
    display: none;
}
.burger__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 40px 15px 40px 15px;
    background-image: url('../img/about/bg-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
}
.burger__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.burger__close-icon {
    align-self: flex-end;
    width: 28px;
    height: 28px;
    fill: var(--white-color);
    cursor: pointer;
}
.burger__nav {
    margin-top: 20px;
}
.burger__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.burger__link {
    font-size: 24px;
    color: var(--white-color);
}
.burger__wrapper {
    display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
}
.burger__text {
    font-size: 24px;
    color: var(--general-color);
}
.active__burger {
    display: block;
 }
