.main__gallery {
    display: flex;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('../img/about/bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__gallery-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 491px;
    margin-left: 11%;
}
.main__gallary-contant {
    flex: 0 0 100%;
}
.main__gallery-lable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gallery-lable {
    align-items: flex-start;
}
.main__gallery-title {
    margin-bottom: 24px;
}
.main__gallery-text {
    margin-bottom: 24px;
}
.main__gallery-list {
    display: flex;
    flex: 0 0 52%;
    transform: translate(-100%, 0px);
    gap: 32px;
}
.main__gallery-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
@media screen and (max-width: 1399.98px){
    .main__gallery-body {
        margin-left: 0%;
    }
}
@media screen and (max-width: 1199.98px){
    .main__gallery-body {
        width: 400px;
    }
}
@media screen and (max-width: 991.98px){
    .main__gallery {
        padding-top: 60px;
        padding-bottom: 60px;
        flex-direction: column;
    }
    .main__gallary-contant {
        flex: 1 1 100%;
    }
    .main__gallery-body {
        align-items: center;
        text-align: center;
        width: 500px;
    }
    .gallery-lable {
        align-items: center;
    }
    .main__gallery-list {
        flex: 1 1 100%;
        transform: translate(0px, 5%);
        gap: 15px;
    }
}
@media screen and (max-width: 767.98px){
    .main__gallery {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .main__gallery-title {
        margin-bottom: 10px;
    }
    .main__gallery-text {
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 549.98px){
    .main__gallery-body {
        width: 280px;
    }
    .main__gallery-list {
        display: none;
    }
}