.main__menu {
    background-image: url('../img/menu/menu.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__menu-container {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        background-image: url('../icon/logo.svg');
        background-repeat: no-repeat;
        width: 146px;
        height: 146px;
        top: 0px;
        left: 0px;
    }
}
.main__menu-body {
    height: 900px;
    display: flex;
    align-items: center;
}
.main__menu-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.main__menu-link {
    color: var(--white-color);
    &:hover {
        text-decoration: underline;
    }
}
@media screen and (max-width: 991.98px){
    .main__menu-body {
        height: 600px;
    }
}