.main__reserv {
    background-color: var(--bg-color);
}
.main__reserv-container {
    padding-top: 157px;
    padding-bottom: 152px;
}
.main__reserv-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1364px;
    margin: 0 auto;
    padding: 48px 32px;
    border: 1px solid rgba(220, 202, 135, 0.20);
    background:#0C0C0C;
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70);
}
.main__lable {
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after {
        content: "";
        display: block;
        background-image: url('../icon/spoon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 40px;
        height: 40px;
    }
}
.main__reserv-title {
    margin-bottom: 64px;
}
.main__reserv-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper-select {
    display: flex;
    gap: 32px;
}
.main__reserv-select,
.main__reserv-date,
.main__reserv-time {
    padding: 16px;
    width: 412px;
    height: 60px;

    font-family:" Cormorant Upright";
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75; /* 28px */
    letter-spacing: 0.64px;
    color: var(--general-color);
    border: 1px solid var(--light-gold-color);
    background-color: inherit;
}
.main__reserv-button {
    margin-top: 64px;
}
@media screen and (max-width: 1399.98px){
    .wrapper-select {
        flex-direction: column;
    }
}
@media screen and (max-width: 991.98px){
    .main__reserv-container {
        padding-top: 60px;
        padding-bottom: 90px;
    }
    .main__reserv-title {
        margin-bottom: 30px;
    }
    .main__reserv-button {
        margin-top: 30px;
    }
}
@media screen and (max-width: 767.98px){
    .main__reserv-container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .main__reserv-body {
        padding: 20px 15px;
    }
    .main__reserv-title {
        margin-bottom: 20px;
    }
    .wrapper-select {
        gap: 15px;
    }
    .main__reserv-button {
        margin-top: 20px;
    }
}
@media screen and (max-width: 479.98px){
    .main__reserv-select,
    .main__reserv-date,
    .main__reserv-time {
        width: 270px;
    }
}