.main__gallery {
    display: flex;
    align-items: center;
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('../img/about/bg-img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main__gallery-container {
}
.main__gallery-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 491px;
    margin-left: 11%;
}
.main__gallary-contant {
    flex: 0 0 100%;
}
.main__gallery-lable {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.gallery-lable {
    align-items: flex-start;
}
.main__gallery-title {
    margin-bottom: 24px;
}
.main__gallery-text {
    margin-bottom: 24px;
}
.main__gallery-button-wrapper {
}
.button__main-gallery {
}
.main__gallery-list {
    display: flex;
    flex: 0 0 52%;
    transform: translate(-100%, 0px);
    gap: 32px;
}
.main__gallery-item {
}
.main__gallery-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}