.main__video {
    background-color: var(--bg-color);
    position: relative;
}
.main__video-img {
    position: absolute;
    z-index: 10;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main__video-play {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    cursor: pointer;
}
.main__video-video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.none {
    display: none;
}
@media screen and (max-width: 479.98px){
    .main__video {
       display: none;
    }
}