.backdrop__sidebar {
    position: fixed;
    z-index: 60;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(46,47,66,.7);
    
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 800ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__sidebar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 30px 0px;
}
.modal__sidebar-body {
    position: relative;
    max-width: 700px;
    padding: 40px 15px 20px 15px;

    background-image: url('../img/about/bg-img.webp');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid var(--gold-color);
    border-radius: 10px;
}
.sidebar__close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    fill: var(--gold-color);
}
.active__sidebar {
    opacity: 1;
    visibility: visible;
}