.swiper {
    width: 620px;
    height: 690px;
}
.swiper-slide {
    width: 550px;
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
        content: "";
        display: block;
        position: absolute;
        z-index: 5;
        bottom: -20px;
        left: -20px;
        width: 435px;
        height: 435px;
        background-color: var(--gold-color);
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 5;
        top: -20px;
        right: -20px;
        width: 435px;
        height: 435px;
        background-color: var(--gold-color);
    }
}


// Написати код в HTML
// <!-- Slider main container -->
// <div class="swiper">
//   <!-- Additional required wrapper -->
//   <div class="swiper-wrapper">
//     <!-- Slides -->
//     <div class="swiper-slide">Slide 1</div>
//     <div class="swiper-slide">Slide 2</div>
//     <div class="swiper-slide">Slide 3</div>
//     ...
//   </div>
//   <!-- If we need pagination -->
//   <div class="swiper-pagination"></div>

//   <!-- If we need navigation buttons -->
//   <div class="swiper-button-prev"></div>
//   <div class="swiper-button-next"></div>

//   <!-- If we need scrollbar -->
//   <div class="swiper-scrollbar"></div>
// </div>