:root {
    --white-color: #fff;
    --general-color: #aaa;
    --ligth-grey-color: #FAFAFA;
    --gold-color: #DCCA87;
    --light-gold-color: #F5EFDB;
    --bg-color: #0C0B08;
    --bg-grey-color: #242424;
    --silver-color: #545454;
}